# ignore extensions
# *.bin
*.json
*.spec

# ignore files
notes.txt
TODO.txt 
draft.py
draft2.py
features.txt
.env
manual_test.txt
notification_img.*


# ignore folder
win64_build/
build/
__pycache__/
img/
.vscode/
default_databin/
dist/
.venv/