# ignore extensions
# *.bin
*.json
*.spec

# ignore files
notes.txt
TODO.txt 
draft.py
draft2.py
features.txt
.env
manual_test.txt
notification_img.*
install.bat

# ignore folder
win64_builds/
__pycache__/
img/
.vscode/
default_databin/
dist/
cookies.txt
build/
